* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-rows: auto;
  align-items:start;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  background-color: rgb(223, 208, 233);
}

.header-title {
  text-align: center;
}

.top-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 60px 0px;
}

.top-navigation-item {
  background-color:rgb(33, 202, 84);
  color: rgb(255, 255, 255);
  padding: 10px 16px;
  border-radius: 30px;
  font-size: 28px;
  font-weight: 600;
  transition-property: background-color, color, transform;
  transition-duration: 600ms;
}

.main-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-gallery-item {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(125, 9, 192);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  transition-property: transform;
  transition-duration: 2000ms;
}

.ping-pong-field {
  position: relative;
  width: auto;
  height: 280px;
  margin: 20px 32px;
}

.ping-pong-ball {
  position: absolute;
  top: 45%;
  left: 0%;
  background-color: rgb(255, 0, 0);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  animation-name: ping-pong-ball;
  animation-duration: 7000ms;
  animation-timing-function: linear;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.ping-pong-board {
  position: absolute;
  top: 90%;
  left: 50%;
  background-color: rgb(19, 2, 168);
  width: 64px;
  height: 12px;
  border-radius: 6px;
  animation-name: ping-pong-board;
  animation-duration: 7000ms;
  animation-timing-function: ease;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.top-navigation-item:hover {
  transform: scale(1.5);
  background-color: rgb(238, 209, 44);
  color: rgb(0, 0, 0);
}

.main-gallery-item:hover {
  transform: rotate(180deg);
}

.ping-pong-ball:hover,
.ping-pong-board:hover {
  animation-play-state: paused;
}

@keyframes ping-pong-ball {
  0% {
    left:0%;
    top:45%;
    background-color: rgb(255, 0, 0);
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  10% {
    left:10%;
    top:0%;
    background-color: rgb(255, 115, 0);
  }

  16% {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  20% {
    left:20%;
    top:80%;
    background-color: rgb(255, 208, 0);
    width: 48px;
    height: 24px;
    border-radius: 24px/12px;
  }

  24% {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }
  
  30% {
    left:30%;
    top:0%;
    background-color: rgb(30, 255, 0);
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  36% {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  40% {
    left:40%;
    top:80%;
    background-color: rgb(0, 255, 255);
    width: 48px;
    height: 24px;
    border-radius: 24px/12px;
  }

  44% {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  50% {
    left:50%;
    top:0%;
    background-color: rgb(0, 81, 255);
    
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  56% {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  60% {
    left:60%;
    top:80%;
    background-color: rgb(174, 0, 255);
    width: 48px;
    height: 24px;
    border-radius: 24px/12px;
  }

  64% {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  70% {
    left:70%;
    top:0%;
    background-color: rgb(255, 0, 234);
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  76% {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  80% {
    left:80%;
    top:80%;
    background-color: rgb(255, 0, 140);
    width: 48px;
    height: 24px;
    border-radius: 24px/12px;
  }

  84% {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  90% {
    left:90%;
    top:0%;
    background-color: rgb(255, 0, 76);
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  100% {
    left:95%;
    top:45%;
    background-color: rgb(255, 0, 0);
  }

}

@keyframes ping-pong-board {
  0% {
    top: 90%;
    left: 50%;
  }

  20% {
    top: 90%;
    left: 19%;
  }

  40% {
    top: 90%;
    left: 39%;
  }

  60% {
    top: 90%;
    left: 59%;
  }

  80% {
    top: 90%;
    left: 79%;
  }
}